root {
  
  --bg: #f6f2ee;

  --surface: #ffffff;

  --text: #1d1b16;

  --muted: #7a736b;

  --accent: #ffbb00;

  --accent-600: #9f7c41;

  --line: #e9e2db;

  --badge: #efe7de;

  --radius: 14px;

  --shadow: 0 6px 20px rgba(0, 0, 0, 0.03);

  --maxw: 100%;

  --font-family-one: "Oswald", sans-serif;

  --font-family-two: "Roboto", sans-serif;
}
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif; 
}

/* Body */
body {
  background: white;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 2rem;
  background: white;
}

/* Page Title Section */
.page-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.page-title h1 {
  font-size: 1.5rem;
}

.agent-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: wheat; /*  change color to match your design */
}

/* Agent Info Section */
.agent-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

/* Photo Styling */
.agent-photo {
    min-width: 120px;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #fff; /*  change color to match your design */
}

/* Agent Name & Description */
.agent-name {
    max-width: 500px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    color: black; /*  change color to match your design */
}

.agent-location {
    font-size: 1.2rem;
    font-weight: bold;
    color: black; /*  change color to match your design */
}

.agent-desc {
    font-size: 1rem;
    color: black;
    line-height: 1.4rem;
}

.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 1.5rem;
    line-height: 1.4rem;
}

.more-btn {
    padding: 0.5rem 1rem;
    background: #ffbb00; /*  change color to match your design */
    color: #fff; /*  change color to match your design */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1.5rem;
    line-height: 1.4rem;
}

.lyta {
  color: gray;
}

.lyta-ly {
  background-color: #ffbb00;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.7rem;
}